body{
  background:beige ;
  margin-right: 120px;
  margin-left: 120px;
  margin-top: 30px;
}

.list{
  font-size: 30px;
  padding: 0 300px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-around;
}

.postInfo{
border: 2px solid green;
}

.commentInfo{
  border: 2px solid blue;
}
.userInfo{
  border: 2px solid red;
}